/*
The main "badge" styles.
*/
.nav-files-container .nav-file-title.gtd-no-next-step .nav-file-title-content:after,
.nav-files-container .nav-file-title.gtd-waiting-for .nav-file-title-content:after {
	color: white;
	border-radius: 4px;
	font-size: 8px;
	padding: 1px 3px;
	line-height: 1;
	margin-left: 4px;
	top: -2px;
	position: relative;
}

/*
No next-step tag found is a serious problem.
*/
.nav-files-container .nav-file-title.gtd-no-next-step .nav-file-title-content:after {
	content: 'No Next';
	background-color: #ff5b00;
}

/*
No next-step tag but a waiting-for tag is not a
problem, but it is something to be aware of.
*/
.nav-files-container .nav-file-title.gtd-waiting-for .nav-file-title-content:after {
	content: 'Waiting';
	background-color: #8e8e8e;
}
