.nav-files-container .nav-file-title.gtd-no-next-step .nav-file-title-content:after {
	content: 'No Next';
	color: white;
	background-color: #ff5b00;
	border-radius: 4px;
	font-size: 8px;
	padding: 1px 3px;
	line-height: 1;
	margin-left: 4px;
	top: -2px;
	position: relative;
}
.nav-files-container .nav-file-title.gtd-waiting-for .nav-file-title-content:after {
	content: 'Waiting';
	color: white;
	background-color: #8e8e8e;
	border-radius: 4px;
	font-size: 8px;
	padding: 1px 3px;
	line-height: 1;
	margin-left: 4px;
	top: -2px;
	position: relative;
}
